header{
    background-color: blue;
    color: white;
}

h1{
    text-align: center;
}

i{
    color: blue;
}

#card-item{
    background-color: blue;
    color: white;
    border-radius: 5px;
}

#icon{
    color: white;
}

#profile-tab{
    background-color: blue;
    color: white;
}

footer{
    background-color: blue;
    color: white;
    font-size: 18px;
    text-align: center;
}